
.idea/.idea.Sharkie/.idea/vcs.xml
.idea/.idea.Sharkie/.idea/indexLayout.xml
.idea/.idea.Sharkie/.idea/encodings.xml
.idea/.idea.Sharkie/.idea/discord.xml
Sharkie/bin/Release/net7.0/Sharkie.deps.json
Sharkie/bin/Release/net7.0/Sharkie.dll
Sharkie/bin/Release/net7.0/Sharkie.exe
Sharkie/bin/Release/net7.0/Sharkie.pdb
Sharkie/bin/Release/net7.0/Sharkie.runtimeconfig.json
Sharkie/obj/project.assets.json
Sharkie/obj/project.nuget.cache
Sharkie/obj/project.packagespec.json
Sharkie/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Sharkie/obj/Release/net7.0/apphost.exe
Sharkie/obj/Release/net7.0/ref/Sharkie.dll
Sharkie/obj/Release/net7.0/refint/Sharkie.dll
Sharkie/obj/Release/net7.0/Sharkie.AssemblyInfo.cs
Sharkie/obj/Release/net7.0/Sharkie.AssemblyInfoInputs.cache
Sharkie/obj/Release/net7.0/Sharkie.assets.cache
Sharkie/obj/Release/net7.0/Sharkie.csproj.AssemblyReference.cache
Sharkie/obj/Release/net7.0/Sharkie.csproj.CoreCompileInputs.cache
Sharkie/obj/Release/net7.0/Sharkie.csproj.FileListAbsolute.txt
Sharkie/obj/Release/net7.0/Sharkie.dll
Sharkie/obj/Release/net7.0/Sharkie.GeneratedMSBuildEditorConfig.editorconfig
Sharkie/obj/Release/net7.0/Sharkie.genruntimeconfig.cache
Sharkie/obj/Release/net7.0/Sharkie.GlobalUsings.g.cs
Sharkie/obj/Release/net7.0/Sharkie.pdb
Sharkie/obj/rider.project.restore.info
Sharkie/obj/Sharkie.csproj.nuget.dgspec.json
Sharkie/obj/Sharkie.csproj.nuget.g.props
Sharkie/obj/Sharkie.csproj.nuget.g.targets
Sharkie.sln.DotSettings.user
Rice/bin/Debug/net7.0/Rice
Rice/bin/Debug/net7.0/Rice.dll
Rice/bin/Debug/net7.0/Rice.pdb
Rice/bin/Debug/net7.0/RiceAPI.dll
Rice/bin/Debug/net7.0/RiceAPI.pdb
Rice/obj/project.assets.json
Rice/obj/project.nuget.cache
Rice/obj/Rice.csproj.nuget.dgspec.json
Rice/obj/Rice.csproj.nuget.g.props
Rice/obj/Debug/net7.0/apphost
Rice/obj/Debug/net7.0/Rice.assets.cache
Rice/obj/Debug/net7.0/Rice.csproj.AssemblyReference.cache
Rice/obj/Debug/net7.0/Rice.csproj.CoreCompileInputs.cache
Rice/obj/Debug/net7.0/Rice.csproj.FileListAbsolute.txt
Rice/obj/Debug/net7.0/Rice.dll
Rice/obj/Debug/net7.0/Rice.GeneratedMSBuildEditorConfig.editorconfig
Rice/obj/Debug/net7.0/Rice.genruntimeconfig.cache
Rice/obj/Debug/net7.0/Rice.pdb
RiceAPI/bin/Debug/net7.0/RiceAPI.dll
RiceAPI/bin/Debug/net7.0/RiceAPI.pdb
RiceAPI/obj/project.assets.json
RiceAPI/obj/project.nuget.cache
RiceAPI/obj/RiceAPI.csproj.nuget.dgspec.json
RiceAPI/obj/RiceAPI.csproj.nuget.g.props
RiceAPI/obj/Debug/net7.0/RiceAPI.assets.cache
RiceAPI/obj/Debug/net7.0/RiceAPI.csproj.AssemblyReference.cache
RiceAPI/obj/Debug/net7.0/RiceAPI.csproj.CoreCompileInputs.cache
RiceAPI/obj/Debug/net7.0/RiceAPI.csproj.FileListAbsolute.txt
RiceAPI/obj/Debug/net7.0/RiceAPI.dll
RiceAPI/obj/Debug/net7.0/RiceAPI.GeneratedMSBuildEditorConfig.editorconfig
RiceAPI/obj/Debug/net7.0/RiceAPI.pdb
Rice/bin/Debug/net7.0/Rice.dll
Rice/obj/Debug/net7.0/Rice.csproj.AssemblyReference.cache
Rice/obj/Debug/net7.0/Rice.assets.cache
Rice/obj/Debug/net7.0/Rice.csproj.AssemblyReference.cache
Rice/obj/Debug/net7.0/Rice.GeneratedMSBuildEditorConfig.editorconfig
RiceAPI/obj/Debug/net7.0/RiceAPI.assets.cache
RiceAPI/obj/Debug/net7.0/RiceAPI.csproj.AssemblyReference.cache
RiceAPI/obj/Debug/net7.0/RiceAPI.GeneratedMSBuildEditorConfig.editorconfig
Rice/obj/Debug/net7.0/Rice.GeneratedMSBuildEditorConfig.editorconfig
Rice/bin/Debug/net7.0/Rice.dll
Rice/bin/Debug/net7.0/Rice.pdb
Rice/bin/Debug/net7.0/RiceAPI.dll
Rice/bin/Debug/net7.0/RiceAPI.pdb
Rice/obj/Debug/net7.0/ref/Rice.dll
Rice/obj/Debug/net7.0/refint/Rice.dll
Rice/obj/Debug/net7.0/Rice.assets.cache
Rice/obj/Debug/net7.0/Rice.csproj.AssemblyReference.cache
Rice/obj/Debug/net7.0/Rice.dll
Rice/obj/Debug/net7.0/Rice.GeneratedMSBuildEditorConfig.editorconfig
Rice/obj/Debug/net7.0/Rice.pdb
RiceAPI/bin/Debug/net7.0/RiceAPI.dll
RiceAPI/bin/Debug/net7.0/RiceAPI.pdb
RiceAPI/obj/Debug/net7.0/ref/RiceAPI.dll
RiceAPI/obj/Debug/net7.0/refint/RiceAPI.dll
RiceAPI/obj/Debug/net7.0/RiceAPI.assets.cache
RiceAPI/obj/Debug/net7.0/RiceAPI.dll
RiceAPI/obj/Debug/net7.0/RiceAPI.GeneratedMSBuildEditorConfig.editorconfig
RiceAPI/obj/Debug/net7.0/RiceAPI.pdb
*.dll
